*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  place-items: center;
  place-self: center;
  justify-content: center;
  align-content: center;
  max-width: 1200px;
  min-height: 800px;
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  block-size: 100%;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

:focus-visible {
  outline: none;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  inline-size: 1px;
  block-size: 1px;
  clip-path: inset(50%);
  white-space: nowrap;
}

.content {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 30px;
  margin: 133px 30px;
}

.result {
  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: 19px;
  block-size: inherit;
}

.result__video-container {
  position: relative;
  inline-size: 711px;
  block-size: 386px;
  object-fit: cover;
}

.result__video-container:has(.result__video:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 3px;
}

.result__video {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
  object-position: center;
}

.search-form {
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-content: space-between;
}
.search-form__fieldset {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
  inline-size: fit-content;
  border: none;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-weight: 400;
  font-size: 18px;
}

.search-form__fieldset-title {
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: normal;
}

.search-form__label {
  display: inline-flex;
  place-items: center;
  gap: 5px;
  inline-size: fit-content;
  cursor: pointer;
}

.search-form__label:has(.search-form__textfield:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 2px;
}

.search-form__label:has(.search-form__checkbox:focus-visible) {
  outline: 1px solid #fff;
}

.search-form__label:hover:not(.search-form__textfield) {
  text-decoration: underline;
  text-underline-offset: 5px;
}

.search-form__label-text {
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-weight: 400;
  font-size: 18px;
}

.search-form__textfield {
  border: none;
  border-block-start: 1px solid #fff;
  border-block-end: 1px solid #fff;
  color: rgba(255, 255, 255, 0.7);
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: transparent;
  min-inline-size: 225px;
}

.search-form__textfield:active {
  border: none;
}

.search-form__checkbox-list {
  display: inline-flex;
  gap: 15px;
}

.search-form__pseudo-checkbox {
  inline-size: 19px;
  block-size: 19px;
  border: 1px solid #fff;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox {
  inline-size: 19px;
  block-size: 19px;
  outline: 1px solid #1b1919;
  outline-offset: -2px;
  background-color: #fff;
}
.button {
  block-size: 34px;
  border: 1px solid #fff;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-weight: 700;
  font-size: 18px;
  background-color: transparent;
  cursor: pointer;
}

.button:active {
  background-color: #545050;
}

.button:hover {
  text-decoration: underline;
  text-underline-offset: 3px;
}

.button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.search-form__submit-button {
  display: flex;
  place-content: center;
  place-self: flex-end;
  align-items: center;
  inline-size: 194px;
}

.content__details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-items: start;
  gap: 22px;
  max-height: 534px;
  max-width: 400px;
}

.title,
.content__accent {
  font-family: Oswald;
  font-weight: 700;
  font-size: 75px;
  line-height: 94%;
  text-transform: uppercase;
}

.title {
  color: #fff;
}

.content__accent {
  color: #545050;
}

.content__list {
  position: relative;
  block-size: 534px;
  overflow-y: scroll;
  overflow-x: hidden;
  inline-size: 415px;
}

.content__list-item {
  display: block;
  max-width: 400px;
}

.content__list-item:hover {
  text-decoration: underline;
  text-underline-offset: 5px;
}

.content__list-item:has(.content__card-link:focus-visible) {
  border: 1px solid #fff;
}

.content__list-item:not(:last-child) {
  margin-block-end: 30px;
}

.content__card-link {
  display: block;
  color: #fff;
  text-decoration: none;
}

.content__card-link:active {
  background-color: #545050;
}

.content__card-link_current {
  background-color: #545050;
}

.content__video-card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-content: start;
  inline-size: 100%;
}

.content__video-card-description-container {
  inline-size: 100%;
  block-size: 100%;
  text-align: start;
}

.content__video-card-title {
  font-family: Oswald;
  font-weight: 700;
  font-size: 30px;
  text-transform: uppercase;
}

.content__video-card-description {
  font-family: "Fira Sans Condensed", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 16.2px;
}

.content__video-card-thumbnail {
  max-width: 194px;
  min-height: 103px;
  object-fit: cover;
  object-position: center;
  display: flex;
  align-self: flex-end;
}

.more-button {
  display: flex;
  place-content: center;
  align-items: center;
  inline-size: 100%;
  margin: 2px;
}
